/*importe la fuente desde Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Formateamos toda la página con el CSS para encuadrar todo dentro de la pag */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* Establezco color de fondo de todo el BODY y asignamos la fuente con la que vamos a trabajar */
body {
    background-color: #000202;
    font-family: 'Lato', sans-serif;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

/* Estilos para el botón de navegación anterior del Swiper */
.swiper-button-prev::after {
    font-size: 25px;
}

/* Estilos para el botón de navegación siguiente del Swiper */
.swiper-button-next::after{
    font-size: 25px;
}
.swiper-button-next {
    color: #DB241B;
}
.swiper-button-prev {
    color: #DB241B;
}

.swiper-pagination-bullet {
    background-color: #D3D2D2 ;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #DB241B ;
}

/*Estilo del Menú*/
.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    background-color: #555555;
    
}

.navbar {
    display: flex;    
}

.menu-1 {
    margin-right: 180px;
    
}

.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;
}
.logo-2 {
    width: 120px; /* Ajusta el tamaño del logo para desktop */
}

.socials {
    display: flex;
}

.social {
    margin:0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB241B;
    border-radius: 50%;
}
.social:hover {
    background-color: #DB241B;
}

.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #DB241B;
}

.menu-icono {
    width: 25px;
}

/* Requisito de Actividad 2: Estilos para el botón del menú */
.menu-toggle {
    display: none; /* Oculto en desktop */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}


/*Estilos para el header*/
.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    color: #FFFFFF;
    width: 50%;
    margin-right: 85px;
}
.slider-txt h1 {
    font-size: 50px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #A7A7A7;
}

/*Estilo de botones con transiciones*/
.botones {
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: solid 2px #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}
.btn-1:hover {
    background-color: #DB241B;
}

.slider-img {
    width: 50%;
}
.slider-img img {
    /* Make slider images responsive: use max-width and remove fixed margins to avoid overlap */
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: 0; /* remove fixed margin that caused overlap */
    display: block;
}

/*Productos*/

.products {
    background-color: #0d0d0d;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}
.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #A7A7A7;
    font-weight: 700;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"]{
    display: none;
}
.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #DB241B;
    color: #FFFFFF;
}

/*estilo de los productos*/
.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img {
    width: 50%;
    text-align: left;
}
.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img {
    width: 150px;
    height: 120px;
}

.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4 {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {
    color: #A7A7A7;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
}

.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}

.info-img {
    width: 50%;
}

.info-img img {
    width: 500px;
    height: 250px;
}

.info-txt {
    width: 50%;
}

.info-txt h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 50px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}

.btn-2:hover {
    background-color: #ab1c15;
}

/*Estilo para horarios*/
.horario {
    padding: 100px;
    background-color: #0d0d0d;
}
.horario-info h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #FFFFFF;
}
.txt h4 {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 30px;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

/*Estidlo de mapa*/
.map {
    filter: grayscale(50%) invert(92%) contrast(92%);
}

/* Estilo del Footer*/

.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.links h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.links ul li a{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

@media(max-width: 991px) {
    .menu {
        padding: 20px;
        justify-content: space-between;
    }
    .menu-2 {
        display: none;
    }
    .logo-1 {
        width: 100px;
    }
    .logo-2 {
        width: 0;
    }

    /* Requisito de Actividad 2: Mostrar botón y manejar visibilidad de navbar */
    .menu-toggle {
        display: block; /* Mostrar el botón en móvil */
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar.navbar--visible {
        display: block; /* Mostrar navbar con la clase de JS */
    }

    .menu .navbar ul li {
        width: 100%;
    }
    .header-content {
        padding: 30px;
        margin-top: 100px;
    }
    .slider-txt{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .slider-txt h1 {
        font-size: 50px;
    }
    .slider-txt p {
        font-size: 16px;
    }
    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }
    .slider-img {
        width: 100%;
        text-align: center;
    }
    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }
   
    .swiper-horizontal > .swiper-pagination-bullet,
    .swiper-pagination-bullets, .swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }

    .tabs {
        padding: 50px 30px;
    }
    .tabs label {
        width: 33%;
    }
    .info {
        padding: 30px;
        flex-direction: column;
    }
    .info-img {
        width: 100%;
        text-align: center;
    }
    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }
    .info-txt {
        width: 100%;
        text-align: center;
    }
    .info-txt h2 {
        font-size: 50px;
    }
    .info-txt p {
        font-size: 16px;
    }
    .btn-1 {
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }
    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt {
        flex-direction: column;
    }
    .socials {
        justify-content: center;
    }
    .social img {
        margin: 8px 0 0 0;
    }
    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    .links h4 {
        margin: 25px 0px 10px 0px;
    }


}

/* requisito Actividad 1 */
.info-card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #0d0d0d;
  padding: 50px 20px;
}

.info-card {
  background-color: #181818;
  border: 1px solid #DB241B;
  border-radius: 15px;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0 0 20px rgba(219, 36, 27, 0.3);
}

.info-card-image {
  width: 100px;
  height: 100px;
  background-color: #DB241B;
  border-radius: 10px;
  margin: 0 auto 20px auto;
}

.info-card h2 {
  margin-bottom: 15px;
  font-size: 28px;
}

.info-card p {
  color: #A7A7A7;
}

/* Styles for promotional form inside the info-card */
.promo-form {
    margin-top: 18px;
    text-align: left;
}
.promo-form .form-group {
    margin-bottom: 12px;
}
.promo-form label {
    display: block;
    font-weight: 700;
    color: #DB241B;
    margin-bottom: 6px;
}
.promo-form input[type="text"],
.promo-form input[type="email"] {
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #444;
    background: #0f0f0f;
    color: #fff;
}
.form-actions {
    margin-top: 14px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.form-feedback {
    margin-top: 12px;
    color: #e9e5d4;
    font-weight: 600;
}

@media (max-width: 767px) {
  .info-card-section {
    background-color: #252525; /* Cambio de color para pantallas pequeñas */
  }

  .info-card h2 {
    font-size: 24px;
  }
}
